* {
  margin: 0;
}

#container {
  display: flex;
  flex: 1;
  overflow: auto;
  padding: 48px;
  flex-wrap: wrap;
  gap: 8px;
}

.gridDiv {
  width: 50px;
  height: 50px;
  padding: 18px;
  border-radius: 8px;
  border: 2px solid black;
}
