* {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 18px;
}

h1 {
  color: gray;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

.button-container {
  display: flex;
  gap: 10px;
  padding-bottom: 18px;
}

.grid-size-button,
.clear-button {
  background-color: white;
  color: darkblue;
  font-size: 18px;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 10px 10px;
}

.hover-effect {
  background-color: green;
}
