* {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* align-items: stretch;
  align-content: stretch; */
  width: 600px;
  height: 600px;
  background-color: aqua;
  border: 2px solid grey;
}

.grid {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  overflow: auto;
  flex-wrap: wrap;
  flex: 1 1 0px;
  border: 2px solid black;
}

#grid-size-button {
  background-color: white;
  color: blue;
  width: 20%;
  border: 2px solid grey;
  border-radius: 8px;
  padding: 10px 10px;
}

.hover-effect {
  background-color: green;
}
